Challenge2/flow.json
[
    {
        "id": "6fee93cdc168797e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2285a4d9b8fe734e",
        "type": "file in",
        "z": "6fee93cdc168797e",
        "name": "",
        "filename": "/home/pi/Downloads/iot-feeds.csv",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "7116fb849bc225ec",
                "03653decef12a74d"
            ]
        ]
    },
    {
        "id": "20324cdd4941b118",
        "type": "inject",
        "z": "6fee93cdc168797e",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "2285a4d9b8fe734e"
            ]
        ]
    },
    {
        "id": "b0c1a92c3e0ae96b",
        "type": "debug",
        "z": "6fee93cdc168797e",
        "name": "Sent messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "7116fb849bc225ec",
        "type": "function",
        "z": "6fee93cdc168797e",
        "name": "Create MQTT packet ",
        "func": "var values = msg.payload.split(\",\");\nvar code = values[0];\nvar field1 = values[1];\nvar field2 = values[2];\nvar field5 = values[5];\nif (code >= 5577 && code <= 5676){\n    msg.topic = \"channels/1713080/publish\";\n    msg.payload = \"field1=\"+field1+\"&field2=\"+field2+\"&field5=\"+field5+\"&status=MQTTPUBLISH\";\n    return msg;\n}else{\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "e99b2661ea2834f8"
            ]
        ]
    },
    {
        "id": "e99b2661ea2834f8",
        "type": "delay",
        "z": "6fee93cdc168797e",
        "name": "Rate limiter",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "b0c1a92c3e0ae96b",
                "20bd2f53b39646a6"
            ]
        ]
    },
    {
        "id": "03653decef12a74d",
        "type": "function",
        "z": "6fee93cdc168797e",
        "name": "Create Chart",
        "func": "var values = msg.payload.split(\",\");\nvar code = values[0]\nvar field5 = values[5];\nif (code >= 5577 && code <= 5676){\n    msg.payload = field5; \n    return msg;\n}else{\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "00aab75ee6025c50"
            ]
        ]
    },
    {
        "id": "00aab75ee6025c50",
        "type": "ui_chart",
        "z": "6fee93cdc168797e",
        "name": "",
        "group": "135cc47483fd0a55",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1241b1eee42cf3f6",
        "type": "inject",
        "z": "6fee93cdc168797e",
        "name": "Clean Chart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "d25edf5a0f5940ed"
            ]
        ]
    },
    {
        "id": "d25edf5a0f5940ed",
        "type": "function",
        "z": "6fee93cdc168797e",
        "name": "Clean Function",
        "func": "blank = [];\nmsg.payload = blank;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "00aab75ee6025c50"
            ]
        ]
    },
    {
        "id": "20bd2f53b39646a6",
        "type": "mqtt out",
        "z": "6fee93cdc168797e",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7459cbe0b0813695",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "135cc47483fd0a55",
        "type": "ui_group",
        "name": "Field5 Chart",
        "tab": "21139dc3b63af4a0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7459cbe0b0813695",
        "type": "mqtt-broker",
        "name": "ThingSpeak",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "MioBFwEAFDgjNxMpIikzAA4",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "21139dc3b63af4a0",
        "type": "ui_tab",
        "name": "Field5 Chart",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
