Challenge3/flow.json
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ae7ac83d.4fb2e8","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":140,"wires":[["5e18a411.e7d254"]]},{"id":"604afab7.0051fc","type":"debug","z":"b5d1af96.0416f8","name":"Sent Messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":80,"wires":[]},{"id":"5e18a411.e7d254","type":"function","z":"b5d1af96.0416f8","name":"Create MQTT Packet","func":"var values = msg.payload.split(\",\");\nvar l0 = values[0];\nvar l1 = values[1];\nvar l2 = values[2];\nmsg.topic = \"channels/1727103/publish\";\nmsg.payload = \"field1=\"+l0+\"&field2=\"+l1+\"&field3=\"+l2+\"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["604afab7.0051fc","4b96229e.807874"]]},{"id":"4b96229e.807874","type":"mqtt out","z":"b5d1af96.0416f8","name":"","topic":"","qos":"","retain":"","broker":"5ab5c54d.0b4d04","x":610,"y":180,"wires":[]},{"id":"5ab5c54d.0b4d04","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"MioBFwEAFDgjNxMpIikzAA4","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
